.pop-up-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    .pop-up-background{
        backdrop-filter: blur(8px);
        flex: 1;
    }


    .pop-up{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.986);

        @include md {
            height: fit-content;
        }

        .pop-up-inner{

            .edit-exit{
                margin: 2rem auto;
            }

            .update-title{
                margin-bottom: 0;
            }
        }
    }  
}


