.showcase{
    padding-top: 5rem;
    display:flex;
    background-color: $color-gray-30;
    justify-content: center;
    align-items: center;

    @include lg {
        
    justify-content: space-between;
    }

    .showcase-img {
        display:none;

        @include md {
            display:flex;
            max-width: 30vw;
        }
    }

    // showcase info
    .group {
        text-align: center;
        padding: 2rem 1rem;

        @include md {
            padding: none;
        }

        h2 {
            font-size: $font-size-45;
            font-weight: $font-weight-extra-bold;

            @include lg {
                font-size: $font-size-65;
            }
        }

        p{
            font-size: $font-size-18;
            font-weight: $font-weight-medium;
            margin: 1rem 0;

            @include lg {
                font-size: $font-size-20;
            }
        }
    }
}

// winter clearance and new arrivals
.clearance-arrivals {

    @include md {
        display: flex;
        justify-content: center;
    }

    .background {
        display: flex;
        position: relative;
        margin: 1rem 0;
        justify-content: right;

        @include lg {
            margin: 3rem 0;
        }

        .clearence-arrival-img {
            max-height: 30vh;
            min-width: 100%;
            object-fit: contain;

            @include md {
                width: 100%;
                object-fit: contain;
            }

            @include lg {
                max-height: 100%;
                min-width: 100%;
                object-fit: contain;

            }
        }
        .info {
            position: absolute;
            width: 50%;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);

            h2 {
                font-size: $font-size-18;
                font-weight: $font-weight-bold;

                @include lg {
                    font-size: $font-size-20;
                }

                @include xl {
                    font-size: $font-size-45;
                }
            }
            p {
                display:none;

                @include lg {
                    display: block;
                }
            }
            .button {
                font-size: $font-size-13;
                font-weight: $font-weight-medium;
                padding: 0.5rem 2rem;

                @include lg {
                    font-size: initial;
                    font-weight: initial;
                    padding: 0.8rem 3rem;
                }

            }
        }
    }

    .clearance {
        background-color:#CAC0BE;
    }

    .arrivals {
        background-color:#E9E9E9;
    }
}
